<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="keywords" content="jsp,cms,jcincms,java,建站系统,免费,开源,首页">
<meta name="description" content="jsp,cms,jcincms,java,建站系统,免费,开源,首页">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="${r'${ctx}'}/css/demo.css">
<script type="text/javascript" src="${r'${ctx}'}/js/jquery.min.js"></script>
<script type="text/javascript" src="${r'${ctx}'}/js/slider.js"></script>
<script type="text/javascript" src="${r'${ctx}'}/js/webtry_roll.js"></script>

<title>首页</title>
</head>
<body>
	<div id="container">
		<div id="header">
			<div id="logo">
				<img alt="logo" src="/images/logo.gif" />
			</div>
			<div id="headerContact">
				<span>2015年11月26日 星期四</span>
			</div>
		</div>
		<!-- 导航菜单 -->
		<#include "/template/menu.ftl">
		<div class="spacer"></div>
		<#include "/template/footer.ftl">
</body>
</html>
