@CHARSET "UTF-8";

body {
	margin: 0 auto;
	padding: 0;
	font-size: 14px;
	font-family: 微软雅黑;
}

#container {
	width: 100%;
	margin: 0 auto;
}

/* 头部 */
#header { /*height: 100px;
	line-height: 100px;
	 background-color: #222222;  */
	
}

#navigation {
	/* style="height: 50px;background-image: url('${ctx}/images/navigationBg.png');" */
	height: 50px;
	/* background-image: url('/images/navigationBg.png'); */
}

.property {
	width: 290px;
	height:200px;
	float: left;
	/* text-align: center; */
	margin: 5px;
	border: 1px solid #cccccc;
	/* 投影 */
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,
		direction=120, strength=3 ); /*ie*/
	-moz-box-shadow: 1px 1px 5px #909090; /*firefox*/
	-webkit-box-shadow: 1px 1px 5px #909090; /*safari或chrome*/
	box-shadow: 1px 1px 5px #909090; /*opera或ie9*/
}

.swiper-container {
	background: -moz-linear-gradient(top, #DBEAF9, #ffffff, #DBEAF9); /*火狐*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b8c4cb),
		to(#f6f6f8) );
	/* width: 100%; */
}

.clear {
	clear: both;
}

/* 分隔栏 */
.devider {
	width: 100%;
	height: 20px;
	background: -moz-linear-gradient(top, #DBEAF9, #ffffff); /*火狐*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b8c4cb),
		to(#f6f6f8) );
}
/* 横线 */
.hr {
	width: 100%;
	height: 1px;
	border: none;
	border-top: 1px solid #CCCCCC;
}

/* 文档 */
.doc {
	width: 100%;
	overflow: hidden;
	border: 1px solid #cccccc;
	padding-top: 20px;
}

/* 文档 内容*/
.doc .content {
	overflow: auto;
	width: 100%;
	/* padding-left: 20px;
	padding-right: 20px; */
}

.panel {
	width: 100%;
	/* min-height: 300px; */
	border: 1px solid #cccccc;
}

.panel .panel-header {
	text-align: left;
	/* margin-left:20px; */
	width: 100%;
	height: 36px;
	color: #666666;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
	background: -moz-linear-gradient(top, #ffffff, #F4F4F4); /*火狐*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff),
		to(#F4F4F4) );
}

.panel ul {
	font-size: 14px;
	position: relative;
	left: -12px;
	top: -5px;
}

.panel ul li {
	text-align: left;
	margin-bottom: 0px;
}

.panel ul a {
	text-decoration: none;
}

.panel ul a:VISITED {
	color: #333333;
}

.panel ul a:HOVER {
	text-decoration: underline;
}

/* 全局宽度 */
.globalWidth {
	margin: 0 auto;
	width: 100%;
}

/* 内容宽度 */
.contentWidth {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.news {
	list-style-type: square;list-style: square;
}
.news li{
	text-align: left;margin-bottom: 10px; font-size:14px;
}
.news a{
	text-decoration: none;color: #333333;
}
.news a:HOVER{
	text-decoration: underline;
}

.news li span{
	position:absolute;
	right:0px;
}

/************** 菜单开始****************************/
.menu {
	height: 50px;
	font-size: 16px;
	background-image: url('/images/navigationBg.png');
	z-index: 3;
	display: block;
}

.menu ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	background-image: url('/images/navigationBg.png');
}

.menu ul a {
	color: #FFF;
	display: block;
	padding: 0 15px;
	text-decoration: none;
}

.menu ul a:hover {
	color: #FFF;
}

.menu ul li {
	margin: 0;
	padding: 0;
	float: left;
	height: 50px;
	line-height: 50px;
	white-space: nowrap;
}

.menu ul li:hover {
	position: relative;
	background: #62b00e;
}

.menu ul li:hover>ul {
	display: block;
}

.menu ul ul {
	z-index: 9999;
	top: 100%;
	left: 0;
	display: none;
	background: #222;
	position: absolute;
	/* border: 1px solid #888; */
}

.menu ul ul li {
	clear: both;
	min-width: 100%;
}

.menu ul ul ul {
	top: 2px;
	left: 100%;
}

.menu ul ul ul ul ul ul {
	left: auto;
	right: 100%;
}
/************** 菜单结束 **************************/