/*表单样式*/
.tr1 {
	width: 100px;
	text-align: right;
	background-color: #F7F7F7;
	text-align: right;
}

.th1 {
	width: 100px;
	background-color: #F7F7F7;
	text-align: right;
	padding-right: 2px;
	background-color: #F7F7F7;
	font-weight: normal;
}

.td1 {
	width: 200px;
	background-color: #ffffff;
	text-align: left;
	width: 200px;
	padding-left: 2px;
}