<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcin.cms.modules.sale.dao.SaleMapper" >
  <resultMap id="BaseResultMap" type="com.jcin.cms.modules.sale.domain.Sale" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pro_id" property="proId" jdbcType="VARCHAR" />
    <result column="sale_amount" property="saleAmount" jdbcType="DOUBLE" />
    <result column="total_amount" property="totalAmount" jdbcType="DOUBLE" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="sale_num" property="saleNum" jdbcType="DOUBLE" />
    <result column="pro_name" property="proName" jdbcType="VARCHAR" />
    <result column="buy_id" property="buyId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pro_id, sale_amount, total_amount, create_date, create_by, sale_num, pro_name,buy_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jcin.cms.modules.sale.domain.SaleCriteria" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_sale
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_sale
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_sale
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jcin.cms.modules.sale.domain.SaleCriteria" >
    delete from tb_sale
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jcin.cms.modules.sale.domain.Sale" >
    insert into tb_sale (id, pro_id, sale_amount, 
      total_amount, create_date, create_by, 
      sale_num, pro_name,buy_id)
    values (#{id,jdbcType=VARCHAR}, #{proId,jdbcType=VARCHAR}, #{saleAmount,jdbcType=DOUBLE}, 
      #{totalAmount,jdbcType=DOUBLE}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{saleNum,jdbcType=DOUBLE}, #{proName,jdbcType=VARCHAR}, #{buyId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jcin.cms.modules.sale.domain.Sale" >
    insert into tb_sale
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="saleAmount != null" >
        sale_amount,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="saleNum != null" >
        sale_num,
      </if>
      <if test="proName != null" >
        pro_name,
      </if>
      <if test="buyId != null" >
        buy_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=VARCHAR},
      </if>
      <if test="saleAmount != null" >
        #{saleAmount,jdbcType=DOUBLE},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="saleNum != null" >
        #{saleNum,jdbcType=DOUBLE},
      </if>
      <if test="proName != null" >
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="buyId != null" >
        #{buyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jcin.cms.modules.sale.domain.SaleCriteria" resultType="java.lang.Integer" >
    select count(*) from tb_sale
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_sale
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.proId != null" >
        pro_id = #{record.proId,jdbcType=VARCHAR},
      </if>
      <if test="record.saleAmount != null" >
        sale_amount = #{record.saleAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.totalAmount != null" >
        total_amount = #{record.totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.saleNum != null" >
        sale_num = #{record.saleNum,jdbcType=DOUBLE},
      </if>
      <if test="record.proName != null" >
        pro_name = #{record.proName,jdbcType=VARCHAR},
      </if>
      <if test="record.buyId != null" >
        buy_id = #{record.buyId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_sale
    set id = #{record.id,jdbcType=VARCHAR},
      pro_id = #{record.proId,jdbcType=VARCHAR},
      sale_amount = #{record.saleAmount,jdbcType=DOUBLE},
      total_amount = #{record.totalAmount,jdbcType=DOUBLE},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      sale_num = #{record.saleNum,jdbcType=DOUBLE},
      pro_name = #{record.proName,jdbcType=VARCHAR},
      buy_id = #{record.buyId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jcin.cms.modules.sale.domain.Sale" >
    update tb_sale
    <set >
      <if test="proId != null" >
        pro_id = #{proId,jdbcType=VARCHAR},
      </if>
      <if test="saleAmount != null" >
        sale_amount = #{saleAmount,jdbcType=DOUBLE},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="saleNum != null" >
        sale_num = #{saleNum,jdbcType=DOUBLE},
      </if>
      <if test="proName != null" >
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="buyId != null" >
        buy_id = #{buyId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jcin.cms.modules.sale.domain.Sale" >
    update tb_sale
    set pro_id = #{proId,jdbcType=VARCHAR},
      sale_amount = #{saleAmount,jdbcType=DOUBLE},
      total_amount = #{totalAmount,jdbcType=DOUBLE},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      sale_num = #{saleNum,jdbcType=DOUBLE},
      pro_name = #{proName,jdbcType=VARCHAR},
      buy_id = #{buyId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into tb_sale (id, pro_id, sale_amount, total_amount, create_date, create_by, sale_num, pro_name) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=VARCHAR}, #{item.proId,jdbcType=VARCHAR}, #{item.saleAmount,jdbcType=DOUBLE}, #{item.totalAmount,jdbcType=DOUBLE}, #{item.createDate,jdbcType=TIMESTAMP}, #{item.createBy,jdbcType=VARCHAR}, #{item.saleNum,jdbcType=DOUBLE}, #{item.proName,jdbcType=VARCHAR}, #{item.buyId,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      <if test="dialect == 'oracle'" >
        select * from ( select row_.*, rownum rownum_ from ( 
      </if>
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <if test="dialect == 'oracle'" >
        <![CDATA[ ) row_ ) where rownum_ > #{page.start} and rownum_ <= #{page.pageSize} ]]>
      </if>
      <if test="dialect == 'mysql'" >
        limit #{page.start} , #{page.pageSize}
      </if>
    </if>
  </sql>
</mapper>