<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcin.cms.modules.sale.dao.StorageMapper" >
  <resultMap id="BaseResultMap" type="com.jcin.cms.modules.sale.domain.Storage" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pro_name" property="proName" jdbcType="VARCHAR" />
    <result column="pro_id" property="proId" jdbcType="VARCHAR" />
    <result column="buy_id" property="buyId" jdbcType="VARCHAR" />
    <result column="sale_id" property="saleId" jdbcType="VARCHAR" />
    <result column="procount" property="procount" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pro_name, pro_id, buy_id, sale_id, procount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jcin.cms.modules.sale.domain.StorageCriteria" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_storage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_storage
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_storage
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jcin.cms.modules.sale.domain.StorageCriteria" >
    delete from tb_storage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jcin.cms.modules.sale.domain.Storage" >
    insert into tb_storage (id, pro_name, pro_id, 
      buy_id, sale_id, procount
      )
    values (#{id,jdbcType=VARCHAR}, #{proName,jdbcType=VARCHAR}, #{proId,jdbcType=VARCHAR}, 
      #{buyId,jdbcType=VARCHAR}, #{saleId,jdbcType=VARCHAR}, #{procount,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jcin.cms.modules.sale.domain.Storage" >
    insert into tb_storage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="proName != null" >
        pro_name,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="buyId != null" >
        buy_id,
      </if>
      <if test="saleId != null" >
        sale_id,
      </if>
      <if test="procount != null" >
        procount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="proName != null" >
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=VARCHAR},
      </if>
      <if test="buyId != null" >
        #{buyId,jdbcType=VARCHAR},
      </if>
      <if test="saleId != null" >
        #{saleId,jdbcType=VARCHAR},
      </if>
      <if test="procount != null" >
        #{procount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jcin.cms.modules.sale.domain.StorageCriteria" resultType="java.lang.Integer" >
    select count(*) from tb_storage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_storage
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.proName != null" >
        pro_name = #{record.proName,jdbcType=VARCHAR},
      </if>
      <if test="record.proId != null" >
        pro_id = #{record.proId,jdbcType=VARCHAR},
      </if>
      <if test="record.buyId != null" >
        buy_id = #{record.buyId,jdbcType=VARCHAR},
      </if>
      <if test="record.saleId != null" >
        sale_id = #{record.saleId,jdbcType=VARCHAR},
      </if>
      <if test="record.procount != null" >
        procount = #{record.procount,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_storage
    set id = #{record.id,jdbcType=VARCHAR},
      pro_name = #{record.proName,jdbcType=VARCHAR},
      pro_id = #{record.proId,jdbcType=VARCHAR},
      buy_id = #{record.buyId,jdbcType=VARCHAR},
      sale_id = #{record.saleId,jdbcType=VARCHAR},
      procount = #{record.procount,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jcin.cms.modules.sale.domain.Storage" >
    update tb_storage
    <set >
      <if test="proName != null" >
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proId != null" >
        pro_id = #{proId,jdbcType=VARCHAR},
      </if>
      <if test="buyId != null" >
        buy_id = #{buyId,jdbcType=VARCHAR},
      </if>
      <if test="saleId != null" >
        sale_id = #{saleId,jdbcType=VARCHAR},
      </if>
      <if test="procount != null" >
        procount = #{procount,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jcin.cms.modules.sale.domain.Storage" >
    update tb_storage
    set pro_name = #{proName,jdbcType=VARCHAR},
      pro_id = #{proId,jdbcType=VARCHAR},
      buy_id = #{buyId,jdbcType=VARCHAR},
      sale_id = #{saleId,jdbcType=VARCHAR},
      procount = #{procount,jdbcType=DOUBLE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into tb_storage (id, pro_name, pro_id, buy_id, sale_id, procount) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=VARCHAR}, #{item.proName,jdbcType=VARCHAR}, #{item.proId,jdbcType=VARCHAR}, #{item.buyId,jdbcType=VARCHAR}, #{item.saleId,jdbcType=VARCHAR}, #{item.procount,jdbcType=DOUBLE})
    </foreach>
  </insert>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      <if test="dialect == 'oracle'" >
        select * from ( select row_.*, rownum rownum_ from ( 
      </if>
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <if test="dialect == 'oracle'" >
        <![CDATA[ ) row_ ) where rownum_ > #{page.start} and rownum_ <= #{page.pageSize} ]]>
      </if>
      <if test="dialect == 'mysql'" >
        limit #{page.start} , #{page.pageSize}
      </if>
    </if>
  </sql>
</mapper>